In [9]:
import pandas as pd

In [10]:
import requests
import json
api_key = 'b04076b62aac1610e435cf50e75f18a1'

url = f'https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&\
        language=en-US&page=1&sort_by=popularity.desc&api_key={api_key}'

response = requests.get(url)

In [14]:
df = pd.DataFrame(response.json()['results'])[[ 'id','title','overview','release_date']]

In [15]:
df.head()

,id,title,overview,release_date
0,1236153,Mercy,"In the near future, a detective stands on tria...",2026-01-20
1,1272837,28 Years Later: The Bone Temple,Dr. Kelson finds himself in a shocking new rel...,2026-01-14
2,1244975,The Orphans,"Gab and Driss, childhood friends on bad terms ...",2025-08-20
3,1301306,A Woman Scorned,Jas and her sister Laura are interrupted on th...,2025-06-09
4,1523145,Your Heart Will Be Broken,High school student Polina is saved from bully...,2026-03-26

In [18]:
df.shape

(20, 4)